export VIRTUAL_ENV=.venv
export VIRTUAL_ENV_PYTHON_VERISON=3.10.2

if [[ ! -d $VIRTUAL_ENV ]]; then
    log_status "no venv found; creating $VIRTUAL_ENV"
    pyenv local $VIRTUAL_ENV_PYTHON_VERISON
    virtualenv -p=$VIRTUAL_ENV_PYTHON_VERISON .venv
    pip install black mypy flake8
fi

. .venv/bin/activate
unset PS1
export PIPENV_SKIP_LOCK=true
export PYTHONDONTWRITEBYTECODE=1

alias venvkernel='python -m ipykernel install --user --name .venv --display-name ${PWD##*/}'
